{% extends 'block.html.twig' %}


{% block title %} Results Page{% endblock %}
{% block header %}
    <nav class="teal" role="navigation">
        <div class="nav-wrapper ">
            <a id="logo-container" href="#" class="brand-logo left">
                <i class="material-icons">visibility</i>iSolve</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <div class="col"><a  href="{{ 'back' }}" ><i class="material-icons">present_to_all</i></a></div>
                </li>

                <li>
                    <div class="col"><a  href="#" >Sign in</a></div>
                </li>
            </ul>

        </div>

    </nav>


{% endblock %}


{% block body %}
    <div class="container">#}
        <h1 class="header center teal-text text-darken-2 ">View Results</h1>
        <br><br><br>

    </div>

    <div class="container">
        <div class="row">

            <form action="post" >


                <div class="input-field col s6">
                    <div class="col s10">
                        <input id="district" type="search" class="validate" placeholder="Enter District" required>

                    </div>
                    <div class="col s1">

                        <a href="{{ 'logout' }}" class="btn-floating btn-large">
                            <i class="material-icons">search</i></a>

                    </div>


                </div>
            </form>
        </div>
        <br><br>
        <br><br>
    </div>
{% endblock %}